body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f5f7fa;
}

a {
  color: #00B7FF;
}

h1 {
  color: #1e3a8a;
}

code {
  background-color: #e5e7eb;
  padding: 3px 6px;
  border-radius: 4px;
}

ul {
  margin-bottom: 20px;
}